:root {
    --primary-color: #ea1d24;
    --bs-text-color: #444444;
    --bs-white-color: #ffffff;
    --bs-dark-color: #000000;
    --primary-dark-color: #841014;
    --text-dark: #191919;
    --text-medium: #383838;
    --text-light: #ffffff;
    --background-light: #ffffff;
    --background-grey: #f5f5f5;
    --background-dark-grey: #D9D9D9;
    --bs-radius: 20px;
    --heading-font: 'Oswald', sans-serif;
}

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    position: relative;
    font-size: 16px;
    font-weight: 400px;
    color: var(--bs-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

body,
p,
a,
li,
span {
    font-family: 'Poppins', sans-serif;
}

.radius-sm {
    border-radius: 10px;
}

.radius-md {
    border-radius: 20px;
}

.radius-lg {
    border-radius: 30px;
}

.btn-outline-danger {
    border-width: 2px;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

img {
    width: 100%;
    height: auto;
}

.btn_dark {
    color: var(--bs-white-color);
    background-color: var(--primary-color);
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
}

.btn_dark:hover {
    color: var(--bs-white-color);
    box-shadow: 5px 5px 15px 0px #bababa;
}

.about-section {
    padding: 80px 0 40px 0;
}

.section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.sec-heading-white,
.sec-heading {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-dark);
}

.sec-heading-title-white,
.sec-heading-title {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
    color: var(--bs-text-color);
}

.sec-heading-title-white,
.sec-heading-white {
    color: var(--text-light);
}

.sec-heading span {
    color: var(--primary-color);
}

/* header */
.header {
    color: #444444;
    background-color: #fff;
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;
}

.header .logo {
    line-height: 1;
}

.header .logo img {
    margin-right: 8px;
}

.header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: #222222;
}

.btn-getstarted,
.btn-getstarted:focus {
    display: flex;
    align-items: center;
    color: var(--text-light);
    background: var(--primary-color);
    font-size: 16px;
    padding: 10px 23px;
    margin: 0;
    border-radius: 8px;
    transition: 0.3s;
    border: 1px solid var(--primary-color);
    width: fit-content;
}

.btn-getstarted span {
    color: var(--text-light);
}

.btn-getstarted:hover,
.btn-getstarted:focus:hover {
    color: #fff;
    background: color-mix(in srgb, var(--primary-color), transparent 15%);
}

.btn-getstarted-line,
.btn-getstarted-line:focus {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    background: #ffffff;
    font-size: 16px;
    padding: 10px 23px;
    margin: 0 0 0 15px;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid var(--primary-color);
}

.btn-getstarted-line:hover,
.btn-getstarted-line:focus:hover {
    color: #fff;
    background: color-mix(in srgb, var(--primary-color), transparent 15%);
}

.btn-getstarted i {
    margin-right: 10px;
    font-size: 18px;
}

.btn-getstarted-line i {
    margin-right: 5px;
    font-size: 18px;
}

.cta_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.right_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dark_btn {
    display: flex;
    align-items: center;
    justify-content: end;
}

.scrolled .header {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/* Navmenu - Desktop */
@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
    }

    .navmenu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navmenu li {
        position: relative;
    }

    .navmenu a,
    .navmenu a:focus {
        color: #444444;
        padding: 18px 15px 0 15px;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: 0.3s;
    }

    .navmenu li:last-child a {
        padding-right: 0;
    }

    .navmenu li:hover>a,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--primary-color);
    }

    .navmenu .dropdown ul {
        margin: 0;
        padding: 10px 0;
        background: #fff;
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu .dropdown ul li {
        min-width: 200px;
    }

    .navmenu .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        color: #000;
    }

    .navmenu .dropdown ul a i {
        font-size: 12px;
    }

    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover>a {
        color: var(--primary-color);
    }

    .navmenu .dropdown:hover>ul {
        opacity: 1;
        top: 55px;
        visibility: visible;
    }

    .navmenu .dropdown .dropdown ul {
        top: 0;
        left: -90%;
        visibility: hidden;
    }

    .navmenu .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: -100%;
        visibility: visible;
    }
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
    .mobile-nav-toggle {
        color: var(--primary-color);
        font-size: 28px;
        padding-top: 12px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .navmenu {
        padding: 0;
        z-index: 9997;
        text-align: end;
    }

    .navmenu ul {
        display: none;
        list-style: none;
        position: absolute;
        width: calc(100% - 40px);
        top: 20px;
        left: 20px;
        padding: 10px 0;
        margin: 0;
        border-radius: 6px;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu a,
    .navmenu a:focus {
        color: #000;
        padding: 10px 20px 0 20px;
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: color-mix(in srgb, var(--primary-color), transparent 90%);
    }

    .navmenu a i:hover,
    .navmenu a:focus i:hover {
        background-color: var(--primary-color);
        color: #fff;
    }

    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--primary-color);
    }

    .navmenu .active i,
    .navmenu .active:focus i {
        background-color: var(--primary-color);
        color: #fff;
        transform: rotate(180deg);
    }

    .navmenu .dropdown ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background-color: #fff;
        border: 1px solid var(--background-dark-grey);
        box-shadow: none;
        transition: all 0.5s ease-in-out;
    }

    .navmenu .dropdown ul ul {
        background-color: rgba(33, 37, 41, 0.1);
    }

    .navmenu .dropdown>.dropdown-active {
        display: block;
        background-color: rgba(33, 37, 41, 0.03);
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .mobile-nav-toggle {
        color: #fff;
        position: absolute;
        font-size: 32px;
        top: 10px;
        right: 11px;
        margin-right: 0;
        z-index: 9999;
        background: var(--primary-color);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 24px 13px;
    }

    .mobile-nav-active .mobile-nav-toggle.fa-xmark {
        font-size: 25px;
        padding: 13px 16px;
    }

    .mobile-nav-active .navmenu {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(33, 37, 41, 0.8);
        transition: 0.3s;
    }

    .mobile-nav-active .navmenu>ul {
        display: block;
    }
}


/* hero-section */

.hero-section {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}

.hero-bg-img {
    height: 700px;
    object-fit: cover;
    object-position: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background: rgba(0, 0, 0, 0.45);
}

.no-index .hero-overlay {
    padding-top: 0;
}

.no-index .hero-bg-img {
    height: 400px;
}

.authorized-stamp {
    max-width: 250px;
    margin: 1.5rem;
    z-index: 10;
}

/* Breadcrumb */
.breadcrumb-container {
    position: relative;
    top: 100%
}

.breadcrumb {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    margin-left: 15px;
    background: var(--background-light);
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.breadcrumb li {
    color: var(--primary-color);
}

.breadcrumb pre,
.breadcrumb li a {
    color: var(--text-dark);
    margin-bottom: 0;
}

/* Section buttons */
.btn-danger {
    font-weight: 500;
    border-radius: 0.5rem;
}

/* Adjust image rounding for modern feel */
img.rounded-4 {
    border-radius: 1rem !important;
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2rem;
    }

    .authorized-stamp {
        max-width: 100px;
        margin: 1rem;
    }
}

/* section-who-we-are */
.we-card {
    border: 2px solid var(--primary-color);
    border-radius: var(--bs-radius);
    padding: 20px;
    text-align: center;
}

.we-icon-outer {
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    background-color: var(--background-light);
    padding: 20px;
    max-width: 110px;
    margin: -75px auto 40px;
}

#section-finance .swiper-slide img {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
}

.swiper-wrapper {
    padding-bottom: 35px;
}

.swiper-slide {
    padding: 20px;
}

#section-services {
    background: linear-gradient(45deg, var(--primary-color), #841014);
}

.service-column {
    margin-top: 20px;
}

.service-column ul {
    padding-left: 10px;
    margin-top: 20px;
}

.service-column ul li i {
    padding-right: 10px;
    font-size: 12px;
    position: relative;
    top: -1px;
}

.service-column li {
    color: var(--text-light);
    list-style-type: none;
    margin-bottom: 7px;
}

.services-cta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.cta-icon-wrapper {
    background-color: var(--background-light);
    border-radius: 50%;
    padding: 20px;
    width: 80px;
    height: 80px;
    text-align: center;
    z-index: 1;
}

.cta-icon-wrapper img {
    height: 40px;
    width: auto;
}

.cta-card {
    display: flex;
    align-items: center;
}

.cta-text {
    background-color: var(--background-light);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    left: -20px;
    padding: 8px 10px 8px 25px;
    z-index: 0;
    width: 180px;
}

.cta-text a,
.cta-text p {
    color: var(--text-dark);
    margin-bottom: 0;
    font-weight: 500;
}

.cta-text a {
    font-weight: 600;
}

/* testimonial */
.testimonial-card {
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    border-radius: 30px;
    max-width: 900px;
    margin: auto;
    position: relative;
}

.author-avatar {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.testimonial-author {
    display: inline-flex;
    flex-direction: column;
    vertical-align: -webkit-baseline-middle;
    align-items: start;
}

.author-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.fa-quote-right,
.fa-quote-left {
    position: absolute;
    font-size: 40px;
}

.fa-quote-right {
    bottom: -23px;
    right: 30px;
}

.fa-quote-left {
    top: -23px;
    left: 30px;
}

/* section-stats */
#section-stats {
    background: linear-gradient(45deg, var(--primary-color), #841014);
    padding: 100px 0;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-item .stat-number {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: var(--text-light);
}

.stat-item .stat-label {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--text-light);
}

/* section-blog */
.blog-card-1 {
    position: relative;
}

.blog-card-1 .blog-image-wrapper {
    border-radius: 30px;
    overflow: hidden;
    height: 100%;
}

.blog-card-1 .blog-image-wrapper img {
    height: 100%;
    object-fit: cover;
}

.blog-card-1::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(#0000001a, #000000de);
    border-radius: 30px;
}

.blog-card-1 .blog-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.blog-card-1 .blog-content h3,
.blog-card-1 .blog-content p {
    color: var(--text-light);
}

.blog-card-1 .blog-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.blog-card .blog-image-wrapper {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.blog-card .blog-image-wrapper img {
    max-height: 200px;
    object-fit: cover;
}

.blog-card .blog-content h4 {
    color: var(--text-dark);
}

.blog-card .blog-content p {
    color: var(--text-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.email-des {
    line-break: anywhere;
}

/* call-to-action */
#call-to-action {
    background: linear-gradient(45deg, var(--primary-color), #841014);
    padding: 60px 0 35px 0;
}

.cta-card {
    padding: 10px;
    display: flex;
}

.cta-card .title {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-light);
}

.cta-card span {
    color: var(--text-light);
}

.cta-card i {
    background: var(--background-light);
    color: var(--primary-color);
    border-radius: 10px;
    width: 55px;
    height: 55px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.social-card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 470px;
    background: var(--background-grey);
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
}

.social-card i {
    color: var(--primary-color);
    border-radius: 10px;
    width: 55px;
    height: 55px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    flex-wrap: wrap;
}

/* Contact-page */
.contact-card {
    background: #fff;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.modal .contact-card {
    padding: 2rem 1rem;
}

.contact-form .form-control {
    background: #f1f1f1;
    border: none;
    border-radius: 8px;
}

.contact-form textarea.form-control {
    min-height: 150px;
    resize: vertical;
}

.submit-btn {
    background: #e53935;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 50px;
    font-weight: 500;
}

.map-card iframe {
    width: 100%;
    height: 100%;
}

/* footer */
.footer-logo {
    max-width: 173px;
    margin-bottom: 20px;
}

footer h6 {
    margin-bottom: 1rem;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer p {
    line-height: 1.6;
}

@media (min-width:768px) {
    .border-left-right {
        position: relative;
    }

    .border-left-right::after,
    .border-left-right::before {
        position: absolute;
        top: -75px;
        content: '';
        background-color: var(--background-grey);
        width: 2px;
        height: 200px;
    }

    .border-left-right::before {
        left: 0;
    }

    .border-left-right::after {
        right: 0;
    }

}